#home {
    height: 100vh;
    position: relative;
    overflow: hidden;
}
  
.video-background {
    position: relative;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
  
#player {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.container-banner {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}
  
.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding-bottom: 90px;
}
  
.headline h2 {
    font-size: 55px;
    font-weight: 300;
    margin: 0 0 16px 0;
    max-width: 512px;
}
  
.headline p {
    font-weight: 300;
    line-height: 1.5;
    max-width: 512px;
}
  
.headline .buttons {
    margin-top: 32px;
}
  
.headline .buttons a {
    text-transform: capitalize;
    margin-right: 24px;
}
  
.headline .buttons a.more-info {
    padding: 10px 25px;
    border: 1px solid #ffffff;
    border-radius: 0 15px;
}
  