#player {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover!important;
}

.container-banner {
  display: flex;
  justify-content: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 990px;
  height: 100%;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding-bottom: 90px;
}
.headline h2 {
  font-size: 55px;
  font-weight: 300;
  margin: 0 0 16px 0;
  max-width: 512px;
}
.headline p {
  font-weight: 300;
  line-height: 1.5;
  max-width: 512px;
}
.headline .buttons {
  margin-top: 32px;
}
.headline .buttons a {
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  margin-right: 24px;
}
.headline .buttons a.get-started {
  padding: 12px 24px;
  border: 1px solid #ffffff;
  border-radius: 0 16px;
}
