@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: inherit;
}

:root {
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito" !important;
  background-color: #fff !important;
  color: rgb(68, 68, 68);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  --framer-aspect-ratio-supported: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  color: inherit;
  margin: 0;
  padding: 0;
  line-height: normal;
  list-style: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* navbar */
nav.navbar {
  /* position: fixed; */
  padding: 20px 0;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

nav.navbar a {
  font-size: 15px;
  letter-spacing: 0.7px;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* banner */
#home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#home h1 {
  font-family: "Bowlby One SC", sans-serif;
  font-size: 100px;
  font-weight: 400;
  text-transform: uppercase;
}

.description {
  font-size: 18px;
  line-height: 1.2em;
  width: 50%;
}

/* media query to make the page responsive on smaller devices */
@media screen and (max-width: 767px) {
  #home h1 {
    font-size: 55px;
  }

  #home h1,
  .description {
    flex-basis: 100%;
  }
}

/* media query to make the page responsive on bigger devices */
@media screen and (min-width: 768px) {
  #home {
    gap: 20px;
    align-items: center;
  }
}


/* services */
#service {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#service h2 {
  font-size: 45px;
  font-weight: 300;
  margin: 15px 0;
  max-width: 512px;
}

#service p {
  font-weight: 300;
}

@media (min-width: 768px) {
  #service img {
    width: 40%;
  }
}

@media (max-width: 767px) {
  #service img {
    width: 100%;
  }
}
