@import url("https://fonts.googleapis.com/css?family=Zen+Kaku+Gothic+New:300,regular,500,700,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #000 !important;
  color: #f7f7f7 !important;
  font-family: "Zen Kaku Gothic New";
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  color: inherit;
  margin: 0;
  padding: 0;
  line-height: normal;
  list-style: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

/* navbar */
nav.navbar {
  position: fixed;
  padding: 15px 0;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
  background: rgba(0, 0, 0, 1);
}

nav.navbar a {
  color: #f7f7f7;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.8px;
  padding: 0 25px;
  opacity: 0.75;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  background-image: none;
  width: 24px;
  height: 17px;
  position: relative;
  top: -2px;
  border-bottom: 2px solid #f7f7f7;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #f7f7f7;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  background-color: #f7f7f7;
  width: 24px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  background-color: #f7f7f7;
  height: 2px;
  transform: rotate(45deg);
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  background-color: #f7f7f7;
  height: 2px;
  transform: translateY(8px) rotate(-45deg);
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

/* services */
#service {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#service h2 {
  font-size: 45px;
  font-weight: 300;
  margin: 15px 0;
  max-width: 512px;
}

#service p {
  font-weight: 300;
}

@media (min-width: 768px) {
  #service img {
    width: 40%;
  }
}

@media (max-width: 767px) {
  #service img {
    width: 100%;
  }
}
